$Zoom-Icons: (
        in: "\e603",
        in-2: "\e604",
        out: "\e606",
        out-2: "\e605",
        in-alt: "\e608",
        in-alt-2: "\e607",
        out-alt: "\e60a",
        out-alt-2: "\e609",
        refresh: "\e600",
        refresh-2: "\e601"
);