$icon-zoom-in: "\e603";
$icon-zoom-in-2: "\e604";
$icon-zoom-out: "\e606";
$icon-zoom-out-2: "\e605";
$icon-zoom-in-alt: "\e608";
$icon-zoom-in-alt-2: "\e607";
$icon-zoom-out-alt: "\e60a";
$icon-zoom-out-alt-2: "\e609";
$icon-zoom-refresh: "\e600";
$icon-zoom-refresh-2: "\e601";
